<div class="container formMantenedor shadow p-3 mb-5 bg-white rounded">
  <form class="form-inline" #mantenedor="ngForm" (ngSubmit)="guardar(mantenedor)">

        <!-- Clasificacion -->
        <div class="form-group mx-sm-3 mb-2">
          <div class="row">
            <label for="clasificacion" class="col"></label>
            <input
            type="text"
            class="form-control"
            name="clasificacion"
            #notas="ngModel"
            [(ngModel)]=conexionbdService.selectedTarea.notas
            placeholder="Clasificacion"
            >
          </div>
          </div>
          <div class="col">
            <button type="submit" class="btn btn-primary mb-2">Crear</button>
          </div>


        <!-- Importancia -->

          <div class="form-group mx-sm-3 mb-2">
            <div class="row">
              <label for="clasificacion" class="col"></label>
              <input
              type="text"
              class="form-control"
              name="imoportancia"
              #notas="ngModel"
              [(ngModel)]=conexionbdService.selectedTarea.notas
              placeholder="Importancia"
              >
            </div>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-primary mb-2">Crear</button>
            </div>
            <!-- periodo -->

          <div class="form-group mx-sm-3 mb-2">
            <div class="row">


              <label for="clasificacion" class="col-md"></label>
              <input
              type="text"
              class="form-control"
              name="periodo"
              #notas="ngModel"
              [(ngModel)]=conexionbdService.selectedTarea.notas
              placeholder="Periodo"
              >
            </div>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-primary mb-2">Crear</button>
            </div>
  </form>
</div>
